name: Deploy React App

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # Đăng nhập Docker Hub (Dùng biến, KHÔNG ĐIỀN PASSWORD VÀO ĐÂY)
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build & Push
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # GitHub sẽ tự thay thế secrets.DOCKER_USERNAME bằng "thanglm240723" khi chạy
          tags: ${{ secrets.DOCKER_USERNAME }}/vite-react-app:latest

      # Copy file
      - name: Copy docker-compose to Server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          source: "docker-compose.yml"
          target: "/root/my-app/"

      # Deploy
      - name: Deploy on Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            mkdir -p /root/my-app/
            cd /root/my-app/
            
            # Lúc này server mới biết DOCKER_USERNAME là gì để điền vào file docker-compose
            export DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME }}
            
            docker compose pull
            docker compose up -d --remove-orphans
            docker image prune -f